<a href="https://colab.research.google.com/github/bazly21/Text-Analytics-Lab/blob/main/lab2_text_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2

In [1]:
import re

## re.match()

In [50]:
#using re.match
#to find the first occurrence of the letter 'I' in the string

sentence1 = re.match (r'I', 'I am learning text analytics')
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [51]:
#using re.match
#to find the first occurrence of the letter 'v' in the string

sentence2 = re.match (r'v', 'I am learning text analytics')
print (sentence2)

None

In [12]:
#using re.match
#to find the first occurrence of the letter 'am' in the string

sentence3 = re.match (r'am', 'I am learning text analytics')
print (sentence3)

None

## re.search()

In [15]:
sentence4 = re.search(r'am', 'I am learning text analytics')
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [16]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')
print (sentence5)

<re.Match object; span=(2, 4), match='am'>

## re.findall()

In [17]:
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')
print (sentence6)

['am', 'am']

## re.split()

In [18]:
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [19]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [20]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1)
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [21]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2)
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [22]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3)
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

## re.sub()

In [23]:
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it')
print (sentence11)

we like text analytics and we enjoy learning it

## re.findall()

In [24]:
sentence1 = re.findall (r'.', 'I am learning text analytics')
print (sentence1)

# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [26]:
sentence2 = re.findall (r'\w', 'I am learning text analytics')
print (sentence2)

# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [27]:
sentence3 = re.findall (r'\w*', 'I am learning text analytics')
print (sentence3)

# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [28]:
sentence4 = re.findall (r'\w+', 'I am learning text analytics')
print (sentence4)

# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

In [29]:
sentence5 = re.findall (r'^\w+', 'I am learning text analytics')
print (sentence5)

# First word is selected

['I']

In [30]:
sentence6 = re.findall (r'\w+$', 'I am learning text analytics')
print (sentence6)

# Last word is selected

['analytics']

In [31]:
sentence7 = re.findall (r'\w\w', 'I am learning text analytics')
print (sentence7)

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [32]:
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics')
print (sentence8)

['am', 'le', 'te', 'an']

In [33]:
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence9)

# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [34]:
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [35]:
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence11)

# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [46]:
# Solution

sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence12)

# To display the type of domain

['com.my', 'gov.my', 'edu.my']

In [40]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13)

# To display the date in the format of dd-mm-yy

['15-05-20', '20-08-20']

In [41]:
sentence14 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence14)

# To display the date in the format of dd-mm-yyyy

['15-05-2001', '20-08-2000']

In [42]:
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15)

# Only the year will be displayed

['2001', '2000']

In [43]:
sentence16 = re.findall (r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence16)

# A sequence that starts with a vowel followed by one o rmore characters are selected

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [44]:
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence17)

# Only words that start with vowels are selected

['eight', 'often', 'in', 'afternoon']

In [45]:
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence18)

# Only words that start with non-vowels are selected

['have', 'story', 'books', 'read', 'them']

## re.split()

In [47]:
sentence19 = re.split (r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence19)

# split the words based on the delimiters semi colon and comma

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [48]:
sentence20 = re.split (r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence20)

# split the words based on the delimiters semi colon, comma and space

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

## re.sub()

In [49]:
sentence21 = re.sub (r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence21)

# Substitute the delimiters semi colon and comma with fullstop

I have many story books. colouring books. I often read them in the afternoon.